In [26]:
import pandas as pd
import numpy as np
from scipy import stats

In [27]:
df = pd.read_csv('Titanic-Dataset.csv')

In [28]:
print("Mean Age:", df['Age'].mean())
print("Median Age:", df['Age'].median())
print("Mode Age:", df['Age'].mode()[0])

Mean Age: 29.69911764705882
Median Age: 28.0
Mode Age: 24.0

In [29]:
df[['Age','Fare']].corr()

           Age      Fare
Age   1.000000  0.096067
Fare  0.096067  1.000000

In [ ]:
print("t-stats:", t_stat)
print("p-value:", p_val)

t-stats: -18.67183317725917
p-value: 2.2836009226010533e-61

In [31]:
alpha = 0.05

if p_val < alpha:
    print("reject null hypothesis ")
else:
    print("fail to reject null hypothesis ")

reject null hypothesis

In [34]:
from scipy.stats import chi2_contingency

contingency_table = pd.crosstab(df['Survived'], df['Pclass'])
chi2, p, dof, expected = chi2_contingency(contingency_table)

print("Chi2 Statistic:", chi2)
print("p-value:", p)

if p < alpha:
    print("Survival was dependent on passenger class (1st class survived more than 3rd).")
else:
    print("Survival was independent of passenger class.")

Chi2 Statistic: 102.88898875696056
p-value: 4.549251711298793e-23
Survival was dependent on passenger class (1st class survived more than 3rd).